<div class="container" class="col-xs-6"><hr />
  <form (ngSubmit)="create()" #f='ngForm' class="form-group">
<input type="text" class="form-control"name="first_name" [(ngModel)]="newUser.first_name" placeholder="firstname"/>
<input type="text" name="last_name" class="form-control"[(ngModel)]="newUser.last_name" placeholder="lastname"/>
<input type="text" name="email" class="form-control"[(ngModel)]="newUser.email" placeholder="email"/><Br />
<input type="submit" class="btn btn-info"/>
  </form>
</div>
