<!-- <div class="container">
<div class="row">
<p class="lead">
Server Component
</p>
<br/>
<button class="btn btn-info btn-lg" (click)="serverBtn()">Server Button</button>
</div>
<hr/>
<form class="form-group">
    <div class="container">
        <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="dualway">
    </div>
</form>
<p *ngIf="dualbool">{{dualway}}</p>

</div> -->
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">{{element.name}}--{{element.id}}</li>
    </ul>
</div>